.circle1{
    margin-left: 30px;
    margin-right: 10px;
   
}
.circle2{
    margin-left: 30px;
    margin-right: 10px;
   
}

.bottom
{
    display: flex;
    
    margin-top: 10px;
    margin-left: 65px;
    
}